* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Chivo', sans-serif;
	background-color: rgba(0, 0, 0, 0.0);
	/*background-color: #db761e;*/
}

#content {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
}

#titleBlock {
	height: 30vh;
	padding: 5%;
	/*border: 1px solid black;*/
	font-size: 20px;
}

#titleBlock h2 {
	display: inline-block;
    width: 20%;
    float: left;
    margin-right: 4%;
    /*height: 100%;*/
}

#titleBlock p {
	display: inline-block;
	font-family: 'Chivo', sans-serif; 
	font-weight: 100;
	font-family: 'Chivo', sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 100;
    width: 22%;
    margin-top: 5px;
}

#titleBlock #loadingScreen {
	width: 25%;
	height: 100%;
	/*background-color: grey;*/
	float: right;
}

#bodyBlock {
	width: 100%;
	margin: 0;
	height: 70vh;
	/*display: none;*/
	/*pointer-events: none;*/
	overflow: scroll;
}

#text {
	position: fixed;
	width: 50vw;
	padding: 0 5%;
	z-index: 20;
	float: left;
}

#text h2 {
	font-family: 'Chivo';
	font-size: 20px;
	font-weight: 700;
	text-transform: lowercase;
	color: black;
	border-bottom: 4px solid black;
	height: 33px;
	margin-bottom: 20px;
}

#controllers {
	width: 47%;
	float: left;
	margin-right: 3%;
}

#actions {
	width: 47%;
	float: right;
	/*margin-right: 3%;*/
}

button {
	font-size: 15px;
	word-spacing: -1px;
	padding: 0 10px;
	height: 40px;
	font-family: 'Chivo';
	font-weight: 100;
	border: none;
	border: 1px solid black;
	font-style: italic;
	margin: 2px;
	background-color: transparent;
	color: black;
	font-weight: 100;
}

button:hover {
	background-color: black;
	border: 1px solid black;
	color: white;
}

button:focus {
	/*color: blue;*/
	outline: none;
}

.viableButton {
	border-color: lightgrey;
	color: lightgrey;
}

.selectedController {
	background-color: black;
	border-color: black;
	color: white;
}

.selectedAction {
	background-color: black;
	border-color: black;
	color: white;
}


#videoContainer {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	float: right;
	overflow: scroll;
}

#videoContainer h2 {
	position: fixed;
	background-color: white;
	font-family: 'Chivo';
	font-weight: 700;
	width: 45%;
	/*text-transform: uppercase;*/
	color: black;
	border-bottom: 4px solid black;
	height: 33px;
}

#videos {
	max-width: 78%;
	float: left;
	margin-left: 15px;
	margin-top: 25px;
}

#vidTitle {
	font-style: italic;
	/*color: black;*/
	/*background-color: transparent;*/
	font-size: 18px;
	font-weight: 100 !important;
}

/*.normal {
	font-size: 20px !important;
}*/

.small {
	font-size: 16px !important;
}

.blackHighlight {
	background-color: black !important;
	color: white !important; 
	font-weight: 300;
}

#miniVideos {
	position: fixed;
    right: 2%;
    width: 3%;
    margin-right: 4%;
    height: 100%;
    padding: 20px;
    margin-top: 25px;
}

#miniVideos button {
	border: 1px solid black;
    width: 5px;
    height: 5px;
    margin: 10px;
    font-size: 0px;
    /*background-color: white;*/
}

.black {
	background-color: black;
}

video {
	padding: 0px;
	margin: 30px 0px;
	max-width: 100%;
	box-shadow: 0px 0px 20px black;
	border: 4px solid black;
	background-color: white;
	/*max-height: 90vh;*/
}

video:hover {
	cursor: pointer;
}









